.b-services-features {
  text-align: center; background: url("../img/background-service.png"); padding: 50px 0 50px;
}
.b-services-features-h2 {
  margin: 0 0 15px;
}
.b-services-features-box {
  border-bottom: 5px solid #f17d1f; margin: 0 0 16px; display: block; background: #fff; border-radius: 8px; color: #000;
}
.b-services-features-box:hover {
  text-decoration: none; color: inherit;
}
.b-services-features-box-content {
  border-top: 1px solid #ececec; display: table; width: 100%; padding: 20px 30px 0;
}
.b-services-features-box-content-h6 {
  margin: 15px 0 5px 0; font-size: 14px; line-height: 18px; font-weight: 600;
}
.b-services-features-box-content-text {
  margin: 0px 0 12px 0; font-size: 14px; line-height: 18px; font-weight: 400; display: block;
}
.b-services-features-box-one {
  border-bottom-color: #f17d1f;
}
.b-services-features-box-two {
  border-bottom-color: #e1a400;
}
.b-services-features-box-three {
  border-bottom-color: #b2c900;
}
.b-services-features-box-four {
  border-bottom-color: #66b72b;
}
.b-services-features-box-five {
  border-bottom-color: #2bb79b;
}
.b-services-features-box-six {
  border-bottom-color: #4EA5BB;
}
.b-services-features-box-img-container {
  display: table-cell; vertical-align: middle; height: 128px; width: 100%;
}
.b-services-features-col {
  display: inline-block; float: none; padding: 0 8px; box-sizing: border-box;
}

.b-services-features-box-image {
  width: 100%; max-width: 128px;
}

/* Medium Devices, Desktops */
@media #{$md_max} {
  .b-services-features-col {
    width: 50%;
  }
}

/* Extra Small Devices, Phones */
@media #{$xs_max} {
  .b-services-features-col {
    width: 50%;
  }
  .b-services-features-box-img-container {
    height: 70px;
  }
}
