@import "../vendor/bootstrap/bootstrap.css";
@import "../vendor/font-awesome/font-awesome.css";
@import "flags.css";

a {
  cursor: pointer;
}
a:focus {
  text-decoration: inherit; color: inherit;
}
hr {
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent); border: 0; height: 1px; margin: 22px 0 22px 0;
}
h2 {font-weight: 300;}
