/*
* Third Party
*/
// @import "../../bower_components/normalize.css/normalize.css";


/*
* Custom
*/


@import "aa.scss";


body{
    text-align: center;
}
img{
    width: 300px;
}
h1{
    font-family: sans-serif;
    font-size: 50px;
}
