$xs_min: "only screen and (min-width : 480px)";
$sm_min: "only screen and (min-width : 768px)";
$md_min: "only screen and (min-width : 992px)";
$lg_min: "only screen and (min-width : 1200px)";
$xs_max: "only screen and (max-width : 480px)";
$sm_max: "only screen and (max-width : 768px)";
$md_max: "only screen and (max-width : 992px)";
$lg_max: "only screen and (max-width : 1200px)";
